/* navbar styling*/
a.navbar-brand{
    margin-left: 10px;
    padding: 10px;
    background-color: rgba(189, 183, 107);
    font-family: 'Times New Roman', Times, serif;
    color: rgba(189, 183, 107);
    font-size: 25px;
}

/* navbar styling*/
.navbar{
    padding-top:0px;
    padding-bottom: 0px;
    padding-right:40px;
    background-color: rgba(189, 183, 107);
    color: rgb(255, 0, 21);
}

.nav-item.dropdown.show {
    background-color: rgb(189,183,107);
}

.dropdown-menu {
    margin: 0;
    background-color: rgba(189, 183, 107);
}

/* header styling*/
h3{
    color: rgb(189,183,107);
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 15px;
}

/* body background*/
body{
    background-color: rgb(14, 22, 22);
}
.col-md-12{
    background-color: rgb(0, 0, 0);
    padding-top: 20px;
    padding-bottom:40px;
}

/* small screen adjustments*/
@media(max-width:767px){
    .navbar.bg-light{
        background-color: rgb(255, 255, 255) !important;    
    }

    .navbar-collapse{
        background-color: #f8f9fa;
    }
    .navbar{
        padding:inherit;
    }
}

/* image styling*/
.img-thumbnail{
    padding:10px;
    border: none;
}

/* fontstyling for text*/
p{
   font-family: Arial, Helvetica, sans-serif;
   color: rgb(36,33,36);
   font-size: large;
   padding:10px;
}

/* body background*/7
body{
    background-color: rgb(36,33,36);
}
.col-md-12{
    background-color: white;
    padding-top: 20px;
    padding-bottom:40px;
}
.boxsizing{
    box-sizing: border-box;
    background-color: rgb(17, 163, 29);
}
.col-md-12{
    background-color: rgb(255, 255, 255);
    padding-top: 40px;
    padding-bottom:60px;
    box-sizing: border-box;
    
}

/* image border styling*/
.pic{
    border: 3px solid rgb(189,183,107);
}

/* table text adjustments*/

th, td {
    border-bottom: 1px solid #ddd;

  }

  th {
    background-color: rgb(189,183,107);
    color: white;
  }

th { 
    text-align: left;
}
